* {
  font-family: Helvetica, Arial, sans-serif;
}

/* Suggested theme colours: #A3F564, #9be564 */

/* Navigation Bar */
nav {
  overflow: hidden;
}

nav h1 {
  overflow: visible;
  float: left;
  padding: 0px 10px;
  width: 20%;
  font-size: 2em;
}

nav ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  list-style-type: none;
  font-size: 1.25em;
}

nav li {
  margin: 0px 10px;
}

nav li a {
  display: inline-block;
  color: #333;
  font-weight: bold;
  padding: 10px 0px;
  margin: 0px 10px;
  text-decoration: none;
  border-bottom: 3px solid white;
}

nav li a:hover {
  border-bottom: 3px solid #A3F564;
}

/* Main */
.vis-container {
  width: 1500px;
  margin: 0 auto;
}

.overview-vis {
  text-align: center;
}

.y.axis path, .y.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#sub-vis {
  justify-content: space-between;
  height: 300px;
  /* width: 75%;  Removed for now to match bar graph */
  width: 1500px;
  margin: 0 auto;
}

.sub-vis-home {
  height: 200px;
}

.sub-vis-home iframe {
  width: 85%;
  height: 200px;
  float: left;
}

.zoom {
  float: right;
}

.y.axis {
  font-size: 1em;
}

/* Recycle */
.y.axis .domain {
  display: none;
}

.zoomBtn {
  position: relative;
  left: 101%;
  display: inline;
  cursor: pointer;
  font-size: 28px;
  padding: 10px 5px;
  color: rgb(175, 175, 175);
}

#zoom-in {
  position: absolute;
  top: -22.25em;
}

#zoom-out {
  position: relative;
  top: -21.25em;
}

#zoom-in:hover, #zoom-out:hover {
  color:#000;
}

#lChart {
  text-align: center;
  display: block;
}

#sub-vis {
  justify-content: space-between;
  height: 300px;
  /* width: 75%;  Removed for now to match bar graph */
  width: 1500px;
  margin: 0 auto;
}
