* {
  font-family: Helvetica, Arial, sans-serif;
}

/* Suggested theme colours: #A3F564, #9be564 */

/* Navigation Bar */
nav {
  overflow: hidden;
}

nav h1 {
  overflow: visible;
  float: left;
  padding: 0px 10px;
  width: 20%;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: center;
  width: 50%;
  list-style-type: none;
}

nav li {
  margin: 0px 10px;
}

nav li a {
  display: inline-block;
  color: #333;
  font-weight: bold;
  padding: 10px 0px;
  margin: 0px 10px;
  text-decoration: none;
  border-bottom: 3px solid white;
}

nav li a:hover {
  border-bottom: 3px solid #A3F564;
}

/* Main */
#overview-vis {
  text-align: center;
  margin: 0 auto;
}

#overview-text {
  width: 1500px;
  margin: 0 auto;
}

.sub-vis {
  justify-content: space-between;
  height: 300px;
  /* width: 75%;  Removed for now to match bar graph */
  width: 1500px;
  margin: 0 auto;
}

.sub-vis-home {
  height: 200px;
}

.sub-vis-home iframe {
  width: 85%;
  height: 200px;
  float: left;
}

.zoom {
  float: right;
}


#lChart {
  text-align: center;
  display: block;
}
